.admin-dashboard {
  width: 80%;
  margin: auto;
  text-align: center;
}

.session-form {
  background: #f4f4f4;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.session-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.session-form button {
  background: blue;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.sessions-list {
  margin-top: 20px;
  color: #f4f4f4;

}

.session-card {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: black;
}

.session-card.ended {
  background: #ffcccc;
}

.session-card button {
  background: red;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
.home-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 20px;
}

.home-button:hover {
  background-color: #45a049;
}

