/* Full-page layout for sign-up */
.sign-up-container {
    min-height: 100vh;
    background: url(https://assets.nflxext.com/ffe/siteui/vlv3/f268d374-734d-474f-ad13-af5ba87ef9fc/web/KE-en-20250210-TRIFECTA-perspective_8f58a888-4099-4d0c-b1be-9a212efacfbc_medium.jpg);
    color: white;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  .form-signUp {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 2rem;
    border-radius: 12px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: #f97316;
  }
  
  .input-signUp {
    width: 100%;
    padding: 12px 16px;
    margin: 12px 0;
    border: none;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 1rem;
  }
  
  
  
  
  .signupbtn {
    width: 100%;
    padding: 14px 0;
    background-color: #4caf50;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .signupbtn:hover {
    background-color: #11e818;
  }
  .signin-link {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .signin-link:hover {
    color: darkblue;
  }
  