/* Full page container */
.sign-in-container {
    min-height: 100vh;
    background: url(https://assets.nflxext.com/ffe/siteui/vlv3/f268d374-734d-474f-ad13-af5ba87ef9fc/web/KE-en-20250210-TRIFECTA-perspective_8f58a888-4099-4d0c-b1be-9a212efacfbc_medium.jpg);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 16px;
  }
  
  .form-signIn{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 48px 68px;
    border-radius: 12px;
    max-width: 400px;
    min-height: 550px;
    width: 100%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: #38bdf8;
  }
  
  .input-signIn {
    width: 100%;
    padding: 12px 16px;
    margin: 12px 0;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 1rem;
  }
  
  input::placeholder {
    color: #94a3b8;
  }
  
  
  .signinbtn {
    width: 100%;
    padding: 14px 0;
    background-color: #4caf50;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  .signinbtn:hover {
    background-color: #08f010;
  }
  p{
    margin-top: 20px;
  }
  .signup-link {
    color: rgb(48, 48, 180);
    cursor: pointer;
    
  }
  .signup-link:hover {
    color: rgb(16, 16, 247);
    text-decoration: underline;
  }
  